name: Auto Update VLESS

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Важно для корректного pull/push

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run checker
        run: python vless_checker.py

      - name: Save results
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add output.txt
          # Пытаемся закоммитить, если есть изменения
          git commit -m "Update output.txt $(date)" || exit 0
          # Забираем изменения с сервера перед пушем, чтобы не было ошибки rejected
          git pull origin main --rebase
          git push origin main
